<footer class="text-muted">
  <div class="container">
    <p>Open Source Website. Developed by Jameer</p>
    <p>
      Source code-
      <a target="_blank" href="https://github.com/jimcute/coronareport.live">coronareport.live</a>
    </p>
    <p>
      <b>Disclaimer:</b>
      The data displayed on this website is coming from India's official Open Source API <br>
      (<a target="_blank" href="https://github.com/covid19india/api">COVID19 Tracker API</a>).
      No data on this site is modified by us.
    </p>
  </div>
</footer>
