.confirmed-box {
  color: red;
}
.active-box {
  color: blue;
}
.rec-box {
  color: green;
}
.died-box {
  color: black;
}
.card {
  text-align: center;
}
.summary-numbers {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 0;
}
// table {
//   table-layout: auto;
// }
// table,
// th,
// td {
//   text-align: left;
//   word-break: break-all;
// }
.total {
  margin-bottom: 3px;
}
.heading {
  font-weight: 400;
  text-decoration: underline;
}
