.confirmed-box {
  color: red;
}

.active-box {
  color: blue;
}

.rec-box {
  color: green;
}

.died-box {
  color: black;
}

.card {
  text-align: center;
}

.summary-numbers {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 0;
}

// table {
//   table-layout: auto;
// }
// table,
// th,
// td {
//   text-align: left;
//   word-break: break-all;
// }
.total {
  margin-bottom: 3px;
}

.heading {
  font-weight: 400;
  text-decoration: underline;
}

.summary-box {
  margin-bottom: 5px;
}

.summary {
  display: inline;
}

.last-updated {
  margin-left: 20px;
  color: green;

  span {
    font-size: 16px;
    font-weight: 500;
  }
}

.new-case {
  font-size: 12px;
  color: red;
}

table {
  background-color: white;
  border-radius: .25rem;
}

.table td,
.table th {
  padding: .4rem;
}

.right-text {
  text-align: right;
}
