<app-header></app-header>

<div class="wrapper container">
  <div class="summary-box">
    <h3 class="summary">Summary</h3>
    <span class="last-updated">Last Updated <span>{{lastUpdatedInHours}} <span *ngIf="lastUpdatedInHours < 2">HOUR
          AGO</span> <span *ngIf="lastUpdatedInHours > 1">HOURS AGO</span></span></span>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="card confirmed-box">
        <div class="card-body">
          <h5 class="card-title">Total Cases</h5>
          <p class="total">[+{{newCases?.total}}]</p>
          <p class="summary-numbers">
            {{summary?.confirmed}}
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card active-box">
        <div class="card-body">
          <h5 class="card-title">Active</h5>
          <p class="total">[+{{newCases?.active}}]</p>
          <p class="summary-numbers">
            {{summary?.active}}
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card rec-box">
        <div class="card-body">
          <h5 class="card-title">Recovered</h5>
          <p class="total">[+{{newCases?.recovered}}]</p>
          <p class="summary-numbers">
            {{summary?.recovered}}
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card died-box">
        <div class="card-body">
          <h5 class="card-title">Died</h5>
          <p class="total">[+{{newCases?.deaths}}]</p>
          <p class="summary-numbers">
            {{summary?.deaths}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <h4>Corona Report State-wise</h4>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">STATE</th>
              <th scope="col" class="right-text">TOTAL</th>
              <th scope="col" class="right-text">{{activeColumn}}</th>
              <th scope="col" class="right-text">CURED</th>
              <th scope="col" class="right-text">DIED</th>
            </tr>
          </thead>
          <tbody>
            <tr style="cursor: pointer;" [routerLink]="['/detail', item.state]" *ngFor="let item of stateData">
              <th class="heading">
                {{item.state}}
              </th>
              <td class="right-text">
                <span class="new-case" *ngIf="item.deltaconfirmed && item.deltaconfirmed > 0">
                  [+{{item.deltaconfirmed}}]
                </span>
                {{item.confirmed}}</td>
              <td class="right-text">{{item.active}}</td>
              <td class="right-text">{{item.recovered}}</td>
              <td class="right-text">{{item.deaths}}</td>
            </tr>
          </tbody>
          <tfoot>
            <th>TOTAL</th>
            <th class="right-text">
              <span class="new-case" *ngIf="summary && summary.deltaconfirmed">
                [+{{summary.deltaconfirmed}}]
              </span>
              {{summary?.confirmed}}</th>
            <th class="right-text">{{summary?.active}}</th>
            <th class="right-text">{{summary?.recovered}}</th>
            <th class="right-text">{{summary?.deaths}}</th>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="col-lg-6" *ngIf="chartLabels">
      <canvas #myCanvas id="canvas" baseChart [chartType]="chartType" [datasets]="chartData" [labels]="chartLabels"
        [colors]="chartColors" [options]="chartOptions"></canvas>
    </div>
  </div>
</div>
<app-footer></app-footer>
